.navbar{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu{
    display: flex;
    list-style: none;
    gap: 40px;
    color: #49557e;
    font-size: 18px;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 20px;
}

.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 2px solid rgb(43, 96, 43);
    padding: 10px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover{
    background-color: #fff4f2;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(43, 96, 43);
}

.navbar li{
    cursor:pointer;
}

.navbar-search-icon{
    position: relative;
}

.navbar-search-icon .dot{
    position: absolute;
    top: -8px;
    right: -8px;
    width: 18px;
    height: 18px;
    background-color: rgb(43, 96, 43);
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;

}