@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html, body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
  scroll-behavior: smooth;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

.app {
  width: 80%;
  margin: auto;
  padding: 30px 0;
}

.logo {
  width: 300px;
  height: 100px;
}

section {
  min-height: 100vh;
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
