@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

* {
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  
}

html, body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;   /* Prevent horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling for anchors */
}

body {
  background-color: #d5eedf5e; /* Optional: nice clean white background */
}

a {
  text-decoration: none;
  color: inherit;
}

.logo {
  width: 300px;
  height: 100px;
}

.app {
  width: 80%;
  margin: auto;
  padding: 30px 0; /* Add vertical padding for spacing */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
